{% extends 'base.html' %}

{% block content %}

<h1>Create a Blog Entry!</h1>
    <form action='/blog' method='post'>
        <label>
            New Post Title:
            <input type="text" name='name' value='{{ name }}'/>
        </label>
        <p class='error'>{{title_error}}</p>
        <br>
        <label>
            Blog Content:
            <textarea name="content" >{{ content }}</textarea>
        </label>
        <p class='error'>{{content_error}}</p>        
        <input type="submit" value='Submit Post' />
    </form>

{% endblock %}